/*
1 - General
2 - Headers
3 - Menus
4 - Textos e Titulos
5 - Colors e backgrounds
6 - Card

*/


/* 1 - General*/
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    font-size: 16px;
}

.container {
    width: 70%;
    margin-left: 15%;
}

.container-padding {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.col-3 {
    float: left;
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
}

.img-responsive {
    width: 100%;
}

/* 2 - Headers*/
.header-main {
    background-color: darkblue;
}

.header-main .menu {
    float: right;
}


/*3 - Menus*/
.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.header-main .menu {
    margin-top: 5px;
    display: block;
}
.header-main .menu li {
    display: inline-block;
}


.header-main .menu li a, .btn-menu{
    padding: .6rem 1rem;
    color: #FFF;
    text-decoration: none;
    display: inline-block;

    transition: all ease-out .2s;
    border-radius: 5px;
    border: 1px solid red;
    background-color: red;
    box-shadow: -5px -5px 4px 0px rgba(0,0,0,0.4) inset;
}

.header-main .menu li a:hover, .btn-menu:hover{
    background-color: darkred;
}
.header-main .menu li a:active, .btn-menu:active{
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.4) inset;
}
/*4 - Textos e Titulos*/

.title {
    font-weight: 400;
    padding: 1rem 1.2rem;
    margin: 0;
}

.text-center {
    text-align: center;
}

/*5 - Colors e backgrounds*/

.bg-grey {
    background-color: #999999;
}


/*6 - Card*/

.col-3 {
    position: relative;
}
.card  {
    position: relative;
    margin-top: 15px;
    perspective: 1000px;
    transition: all ease-in-out 2s;
    backface-visibility:hidden;
    z-index: 5;
}

.card-verso {
    background-color: #F00;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
    transform: rotateY(180deg);
    transition: all ease-in-out 2s;
}

.col-3:hover .card {
    transform: rotateY(180deg);
}
.col-3:hover .card-verso {
    transform: rotateY(0deg);
}


.card img {
    display: block;
}


.card .legend {
    color:white;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    padding: .6rem 1rem;
    width: 100%;
    left: 0;
    margin: 0;
    bottom: 0;
}




@keyframes shakeAnimation{

    0% {
      transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);

    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }


}





.btn-menu {
    display: none;
}


/*CELULAR*/
@media (max-width: 412px) {
    [class*="col-"]{
        width: 100%;
    }

    .header-main .menu {
        display: none;
    }

    .header-main .menu.active {
        display: block;
        animation: menuAction linear .3s 1;
    }

    .btn-menu {
        display: block;
        float: right;
        margin-top: 8px;
    }

    @keyframes menuAction {
        to {
            opacity: 1;
        }
        from {
            opacity: 0;
        }
    }
}


/*Tablet*/
@media (max-width: 780px) and (min-width: 411px) {
    .col-3{
        width:50% ;
    }
}

/*tablet deitado, ou desktops pequenos*/
@media (max-width: 1024px) and (min-width: 779px) {

}

/*grande resolucoes*/
@media (min-width: 1024px) {

}
